<footer id="footer" class="footer">
    <div class="copyright">
        <span>© <%= config.author %> | Powered by <a href="https://github.com/wzsyyh/wzsyyh.github.io" target="_blank">wzsyyh</a></span>
    </div>
</footer>
